accelerate==0.20.3
bitsandbytes==0.40.2
protobuf==3.20.3
scipy==1.11.1
latex2mathml==3.76.0

sentencepiece==0.1.99
diffusers==0.19.3

transformers==4.31.0
gradio==3.39.0
ftfy==6.1.1
invisible_watermark==0.2.0
opencv-python==4.8.0.76

